site_name: ""
site_url: "https://berkeleyfee.org"
theme:
  name: material 
  logo: assets/sfac-logo.png
  favicon: assets/favicon.svg
  font:
    text: 'Open Sans'
  features:
    - navigation.tracking
    - navigation.footer
    - navigation.instant
    - navigation.tabs
    - navigation.path
  palette:
    - primary: custom
extra_css:
    - stylesheets/extra.css
extra:
  homepage: https://csf.berkeley.edu
  generator: false
plugins:
  - search
  - charts
  - awesome-nav
extra_javascript:
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.superfences:
      custom_fences:
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
